:root{
  --red: #780116;
  --red50: #7801177b;
  --orange: #D55E10;
  --beige: #F5F1DC;
  --offblack: #102022;
  --offblack50: #1020227b;
}

body{
  margin: 0;
  font-family: "brother-1816-printed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
}

a {
    font-weight: bold;
}

/* navigatie */
nav{
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--red);
  padding: 0.2em 0.5em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.navLinks{
  display: flex;
  flex-direction: row;
  gap: 4em;
}

.navLinks li {
  color: var(--beige);
  list-style: none;
}

.navLinks .active {
  color: var(--orange);
  list-style: none;
}

/* home */
.event, .homeMerchandise, .homeSnacks, .homeLeaderboard {
  margin: 1em 1em;
}

/* home - events */
.eventPoster{
  border: 1px solid var(--red);
  border-radius: 30px;
  width: 460px;
  height: 300px;
}
.eventPoster img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

/* home - merch */
.titels{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.titels a {
  text-decoration: none;
  color: var(--offblack50);
}
.carouselMerch, .carouselSnacks {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1em;
}
.carouselMerch article, .carouselSnacks article{
  display: flex;
  flex-direction: column;
}
.carouselMerch .card, .carouselSnacks .card {
  width: 200px;
  height: 200px;
  justify-content: center;
  align-content: center;
  border-radius: 30px;
  background-color: var(--beige);
}
.carouselMerch .card img {
  width: 100%;
  object-fit: fill;
}

/* home - snacks */
.carouselSnacks img {
  width: 200px;
  background-color: var(--beige);
}