:root{
  --red: #780116;
  --red50: #7801177b;
  --orange: #D55E10;
  --orange50: #d55f107b;
  --beige: #F5F1DC;
  --offblack: #102022;
  --offblack50: #1020227b;
}

body{
  margin: 0;
  font-family: "brother-1816-printed", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 36px;
}

h1, h2, h3{
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
}

h1{font-size: 2.5em;}
h2{font-size: 2em;}
h3{font-size: 1.5em;}

a {
  font-weight: bold;
}

/* navigatie */
nav{
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--red);
  padding: 0.2em 0.5em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.navLinks{
  display: flex;
  flex-direction: row;
  gap: 4em;
}

.navLinks li {
  list-style: none;
}

.navLinks li a {
  color: var(--beige);
}

.navLinks .active {
  color: var(--orange);
  list-style: none;
}

/* home */
.event, .homeMerchandise, .homeSnacks, .homeLeaderboard,
.merchandise, .searchbar, .product, .backButton, .snackOverview,
.snack, .winkelmandje{
  margin: 2em 1em;
}

/* home - events */
.eventPoster{
  border-radius: 30px;
  width: 460px;
  height: 300px;
}

.eventPoster img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

/* home - merch - snacks */
.titels{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 0;
  padding-bottom: 1em;

}

.titels a {
  text-decoration: none;
  color: var(--offblack50);
}

.carouselMerch, .carouselSnacks {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1em;
}

.carouselMerch article, .carouselSnacks article{
  display: flex;
  flex-direction: column;
}

/* cards */
.card{
  justify-content: center;
  align-content: center;
  border-radius: 30px;
  background-color: var(--beige);
}

.card img {
  width: 100%;
  object-fit: fill;
}

.carouselMerch .card, .carouselSnacks .card {
  width: 200px;
  height: 200px;
}

.cardTitels{  
  line-height: 0.5;
}

.cardTitels p{
  font-weight: bold;
}

/* home - leaderbord */
.top5, .top10 {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0;
  width: 95%;
}
.top5 li, .top10 li {
  background-color: var(--beige);
  height: 56px;
  width: 95%;

  list-style-position: inside;
  align-content: center;
  border-radius: 30px;
  padding: 0.2em 1em;

  font-family: "Galada", cursive;
  font-size: 1.5em;
}

/* shop merch */
.searchbar {
  border-radius: 30px;
  background-color: var(--red50);
  display: block;
  padding: 0.8em 1.5em;
  text-align: right;
  margin-bottom: 0;
  margin-top: 21px;
}
.searchbar a {
  color: var(--beige);
}

.merchandise .titels i, .snackOverview .titels i {
  color: var(--red);
}

.merchRow, .snackRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2em;
}

.merchandise .card, .snackOverview .card{
  width: 225px;
  height: 225px;
  text-align: center;
}

.fitimg img{
  height: 90%;
  width: auto;
  object-fit: fill;
}

.orangeBackground{
  background-color: var(--orange50);
}

/* productpagina */
.product .card, .snack .card{
  width: 300px;
  height: 300px;
  justify-self: center;
}

.product .productTitel, .snack .snackTitel {
  justify-items: center;
  line-height: 1;
}

.productButtons, .snackButtons, .betaalButtons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.productButtons .btn, .snackButtons .btn, .betaalButtons .btn {
  width: 100%;
}

.productBeschrijving h2 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

/* snack beoordeling */
.beoordeling{
  margin-top: 2em;
}
.beoordelingRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.beoordelingRow select {
  border-radius: 30px;
  width: 200px;
  background-color: var(--red);
  color: var(--beige);
  font-family: "brother-1816-printed", sans-serif;
  font-weight: bold;
  height: 48px;
  padding: 0em 1em;
  text-align: center;
}

.totaalScore {
  justify-items: center;
  padding-bottom: 2em;
}
.totaalScore h2 {
  margin-bottom: 0.5em;
}
.ratingStars {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
}

.ratingStars img{
  width: 40px;
}

.ratingStars .notSelected {
  opacity: 0.5;
}

/* snack pagina */
.infoButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1em;
  margin-top: 3em;
}

.infoButtons a {
  text-decoration: none;
  color: var(--offblack);
  font-family: "Galada", cursive;
  font-size: 2em;
}

.infoButtons .active {
  color: var(--orange);
  text-decoration: underline;
}

/* winkelmadndje */
.winkelmandItems {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0;
}
.winkelmandItems article{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.winkelmandItems .card{
  width: 150px;
  height: 150px;
  text-align: center;
}

.cardTitels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.cardTitels h3 {
  line-height: 1;
  margin: 4px;
}

.amountItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.amountItems select {
  border-radius: 30px;
  padding: 0.2em 0.8em;
  background-color: var(--red);
  color: var(--beige);
  font-family: "Galada", cursive;
  text-align: center;
}

.amountItems a {
  color: var(--offblack);
}
.samenvatting .titel {
  font-weight: bold;
  margin: 0.5em 0;
}
.samenvatting .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.samenvatting .price {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1em;
}

/* buttons */
.btn {
  background-color: var(--red);
  color: var(--beige);
  text-decoration: none;
  display: block;
  border-radius: 30px;
  text-align: center;
  padding: 0.7em 0.5em;
}
.openPage {
  text-decoration: none;
  color: var(--offblack);
}

.backButton {
  display: block
}

.backButton a {
  color: var(--red);
}

.homeLeaderboard .btn, .snackOverview .btn, .beoordeling .btn{
  display: inline-block;
  width: 150px;
}

.btnCenter {
  justify-self: center;  
}
