:root{
  --red: #780116;
  --red50: #7801177b;
  --orange: #D55E10;
  --beige: #F5F1DC;
  --offblack: #102022;

}

body{
  margin: 0;
  font-family: "brother-1816-printed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
}

nav{
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--red);
  padding: 0.2em 0.5em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.navLinks{
  display: flex;
  flex-direction: row;
  gap: 4em;
}

.navLinks li {
  color: var(--beige);
  list-style: none;
}

.navLinks .active {
  color: var(--orange);
  list-style: none;
}